@import "buttons";


@keyframes pulse{
	0%{
		color: transparent;
		background: rgba(229, 231, 235, 1);
		border: none;
		filter: brightness(0);;
		background-image: none;
		opacity: .06;
	}

	50%{
		opacity: .3;
	}

	100%{
		color: transparent;
		background: rgba(229, 231, 235, 1);
		border: none;
		filter: brightness(0);;
		background-image: none;
		opacity: .06;
	}
}

[data-skeleton="true"] {
	animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 5;
	animation-fill-mode: none;
}

