.slider {
    width: 310px;
    margin: 0 auto;
    overflow: hidden;
    transition: .3s;

    &__container {
        display: flex;
        align-items: flex-start;
        list-style: none
    }
	
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 310px;
        opacity: 0;
    }

    &__item--active {
        opacity: 1
    }


}


.slider-btn {
    font-size: 28px;
    color: gray;
    color: #6f6f82;
    cursor: pointer;
    background: rgb(0 0 0 / 0%);
    border: none;
    transition: .3s;
    -webkit-tap-highlight-color: transparent;
}

.slider-btn:hover {
    color: #89899b
}

.slider-btn.active {
    color: #fff
}

.fade-out {
    animation: fade-out .3s ease-out both
}

.fade-in {
    animation: fade-in .2s cubic-bezier(0.39, 0.575, 0.565, 1) both
}

.tabs-list {
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 30px;
    overflow-x: scroll;
    list-style: none;
}

.tabs-list::-webkit-scrollbar {
    display: none
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
@keyframes fade-in {
    100% {
        opacity: 1
    }

    0% {
        opacity: 0
    }
}

@media (width <= 575px) {
    .tabs-list {
        justify-content: flex-start;
        margin: 0 -10px 30px;
    }
}

