
.tabs {
  list-style-type: none;
  li {
    display: inline-block;
    margin-bottom: -1px;
    a {
      display: block;
      height: 100%;
      text-align: center;
    }
    &:hover a,
    &.active a {
    }
  }
}

.tab a {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 10px 9px 28px;
  position: relative;
  overflow: hidden;
  font-family: Grafita;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background: #F2CFBE;
    opacity: 0;
    transition: opacity 0.5s;
    animation: slide-down 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;


    @keyframes slide-down {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(100%);
      }
    }


    //@keyframes slide-up {
    //  0% {
    //    transform: translateY(100%);
    //  }
    //  100% {
    //    transform: translateY(0);
    //  }
    //}

  }
}

.tab.active a {
  &:before {
    opacity: 1;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(100%);
      //opacity: 0;
    }
    100% {
      transform: translateY(0);
      //opacity: 1;
    }
  }
}

.tab-contents {
  .tab-contents {
      padding: 10px;
     display: none;
    animation: fade-out 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &.active {
      display: block;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}