<section class="wrapper-inner-sm choosing-townhouse">
    <div class="choosing-townhouse__heading">
        <button class="btn btn--primary-back">
            <span>Выбрать таунхауз</span>
        </button>
        <h2 class="h4">Дом 3</h2>
        <span class="choosing-townhouse__house-status p4">Свободно 10 домов</span>
    </div>
    <div class="choosing-townhouse__townhouse-picker townhouse-picker">
        <div class="townhouse-picker__pins-scroll">
        <ul class="townhouse-picker__pin-list">
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="1">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">1</span>
                </button>
            </li>
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="2">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">2</span>
                </button>
            </li>
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin townhouse-pin--active" data-townhouse-number="3">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">3</span>
                </button>
            </li>
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin" disabled data-townhouse-number="4">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">4</span>
                </button>
            </li>
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="5">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">5</span>
                </button>
            </li>
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin" disabled data-townhouse-number="6">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">6</span>
                </button>
            </li>
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin" disabled data-townhouse-number="7">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">7</span>
                </button>
            </li>
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="8">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">8</span>
                </button>
            </li>
            <li class="townhouse-picker__pin-item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="9">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">9</span>
                </button>
            </li>

        </ul>
        </div>
        <ul class="townhouse-picker__list">
            <li class="townhouse-picker__item-window"></li>
            <li class="townhouse-picker__item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="1">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">1</span>
                </button>
                <div class="townhouse-picker__townhouse" data-townhouse-type="1"
                     data-townhouse-number="1"></div>
            </li>
            <li class="townhouse-picker__item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="2">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">2</span>
                </button>
                <div class="townhouse-picker__townhouse" data-townhouse-type="2" data-townhouse-number="2"></div>
            </li>
            <li class="townhouse-picker__item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="3">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">3</span>
                </button>
                <div class="townhouse-picker__townhouse townhouse-picker__townhouse--active" data-townhouse-type="3"
                     data-townhouse-number="3"></div>
            </li>
            <li class="townhouse-picker__item" disabled>
                <button class="townhouse-picker__pin townhouse-pin" disabled data-townhouse-number="4">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">4</span>
                </button>
                <div class="townhouse-picker__townhouse townhouse-picker__townhouse--sale" data-townhouse-type="2"
                     data-townhouse-number="4"></div>
            </li>
            <li class="townhouse-picker__item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="5">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">5</span>
                </button>
                <div class="townhouse-picker__townhouse " data-townhouse-type="3" data-townhouse-number="5"></div>
            </li>
            <li class="townhouse-picker__item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="6">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">6</span>
                </button>
                <div class="townhouse-picker__townhouse townhouse-picker__townhouse--sale" data-townhouse-type="3"
                     data-townhouse-number="6"></div>
            </li>
            <li class="townhouse-picker__item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="7">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">7</span>
                </button>
                <div class="townhouse-picker__townhouse townhouse-picker__townhouse--sale" data-townhouse-type="2"
                     data-townhouse-number="7"></div>
            </li>
            <li class="townhouse-picker__item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="8">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">8</span>
                </button>
                <div class="townhouse-picker__townhouse" data-townhouse-type="3" data-townhouse-number="8"></div>
            </li>
            <li class="townhouse-picker__item">
                <button class="townhouse-picker__pin townhouse-pin" data-townhouse-number="9">
                    <span class="townhouse-pin__heading">Таунхаус</span>
                    <span class="townhouse-pin__subheading">9</span>
                </button>
                <div class="townhouse-picker__townhouse" data-townhouse-type="2" data-townhouse-number="9"></div>
            </li>
        </ul>
    </div>
    <div class="choosing-townhouse__info choosing-townhouse-info">
        <div class="choosing-townhouse-info__minimap">
            <img src="./assets/img/components/choosing-townhouse/minimap.svg" width="282" alt="">
        </div>
        <div class="choosing-townhouse-info__specs townhouse-specs">
            <h3 class="townhouse-specs__heading h4">Таунхаус <span id="townhouseNumber">3</span></h3>
            <div class="townhouse-specs__table">
                <div class="townhouse-specs__table-row">
                    <div class="townhouse-specs__table-cell">Площадь</div>
                    <div class="townhouse-specs__table-cell" role="value" ><span id="sq">188,72</span> м2</div>
                </div>
                <div class="townhouse-specs__table-row">
                    <div class="townhouse-specs__table-cell">Этажей</div>
                    <div class="townhouse-specs__table-cell" role="value"  id="floors" >3</div>
                </div>
                <div class="townhouse-specs__table-row">
                    <div class="townhouse-specs__table-cell">Цена</div>
                    <div class="townhouse-specs__table-cell" role="value" ><span id="cost">11 586 400</span> руб</div>
                </div>
            </div>
            <div class="townhouse-specs__btn-group">
                <button class="btn btn--primary" data-micromodal-trigger="popup-form">Забронировать</button>
                <a href="/" class="btn btn--primary" id="pdf">Скачать презентацию</a>
            </div>
        </div>
        <div class="choosing-townhouse-info__house-preview" data-micromodal-trigger="popup-with-preview">
            <img src="./assets/img/components/choosing-townhouse/townhouse-preview.jpg" data-img="planImg" width="640" alt="">
        </div>
    </div>
    <div class="choosing-townhouse__equipment choosing-townhouse-equipment">
            <div class="text-center choosing-townhouse-equipment__heading heading">
                <h2 class="h3">
                    Комплектация
                </h2>
            </div>
            <div class="choosing-townhouse-equipment__tabs-container">
                <ul class="tabs choosing-townhouse-equipment__tabs">
                    <li class="tab active"><a href="#tab1">
                        <div class="pin pin--with-icon">
                            <span>Базовая</span>
                        </div>
                    </a></li>
                    <li class="tab disabled-force"><a href="#tab2">
                        <div class="pin pin--with-icon pin--soon">
                            <span>Стандарт</span>
                        </div>
                    </a></li>
                    <li class="tab disabled-force"><a href="#tab3">
                        <div class="pin pin--with-icon pin--soon">
                            <span>Престиж</span>
                        </div>
                    </a></li>
                </ul>
                <section class="tab-contents">
                    <div id="tab1" class="tab-contents active">
                        <article class="choosing-townhouse-equipment__info">
                            <div class="choosing-townhouse-equipment__info-column">
                                <h4 class="p1 choosing-townhouse-equipment__info-heading">Тёплый контур</h4>
                                <div class="choosing-townhouse-equipment__info-container">
                                    <ul class="choosing-townhouse-equipment__info-list">
                                        <li class="choosing-townhouse-equipment__info-item">фундамент</li>
                                        <li class="choosing-townhouse-equipment__info-item">стены</li>
                                        <li class="choosing-townhouse-equipment__info-item">кровля с утеплением</li>
                                        <li class="choosing-townhouse-equipment__info-item">водосточная система</li>
                                    </ul>
                                    <ul class="choosing-townhouse-equipment__info-list">
                                        <li class="choosing-townhouse-equipment__info-item">бетонная отмостка</li>
                                        <li class="choosing-townhouse-equipment__info-item">остекление окнами ПВХ</li>
                                        <li class="choosing-townhouse-equipment__info-item">входная дверь</li>
                                        <li class="choosing-townhouse-equipment__info-item">вентиляция</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="choosing-townhouse-equipment__info-column">
                                <h4 class="p1 choosing-townhouse-equipment__info-heading">Срок строительства</h4>
                                <span class="choosing-townhouse-equipment__info-unit">4 месяца</span>
                            </div>
                        </article>
                    </div>
                    <div id="tab2" class="tab-contents">

                    </div>
                    <div id="tab3" class="tab-contents">

                    </div>
                </section>

        </div>
        <div class="text-center">
            <button class="btn btn--primary" data-micromodal-trigger="popup-form">
                Забронировать
            </button>
        </div>
    </div>
</section>
<section class="wrapper-inner-xl big-map">
    <img src="./assets/img/components/choosing-townhouse/bigmap.svg" width="1440" alt="">
</section>