<section class="about wrapper-inner-sm" id="location">
    <p class="p1">«Поляна» — коттеджный посёлок, где сочетаются комфорт городской и загородной
    жизни. Место, где вы получаете всё и сразу: свежий воздух соснового леса и инфраструктуру города с
    нужными каждый день сервисами — магазинами, кафе, салонами красоты и фитнес-клубом.</p>
    <br>
    <p class="p1">Среда, где вы сами выбираете, в каком ритме провести день — наслаждаться тишиной загородного дома
        или за минуты оказаться в центре городских событий. </p>
    </div>
</section>