<section class="comfort">
    <div class="container container-comfort">
        <div class="comfort-wrapper"><h2 class="comfort-title h2">Городской комфорт во дворе загородного дома</h2>
            <div class="comfort-list">
                <div class="comfort-item">
                    <div class="comfort-item-img"><img src="assets/img/sections/comfort/comfort_001.svg" alt=""
                                                       class="comfort-item-ico" width="48" height="48"/></div>
                    <div class="comfort-item-title p1">Благоустройство</div>
                    <div class="comfort-item-text p3">Посёлок украсят подстриженные газоны, ухоженные кустарники и
                        деревья на площади 22 500 м<sup>2</sup>, а дорожки всегда останутся чистыми. За порядком
                        будет следить управляющая компания, с которой просто и быстро связаться через мобильное
                        приложение. 
                    </div>
                </div>
                <div class="comfort-item">
                    <div class="comfort-item-img"><img src="assets/img/sections/comfort/comfort_002.svg" alt=""
                                                       class="comfort-item-ico" width="48" height="48"/></div>
                    <div class="comfort-item-title p1">Парковка</div>
                    <div class="comfort-item-text p3">На территории планируется 700 парковочных мест. В посёлке
                        реализуется концепция дворов без машин — место около многоквартирного дома останется
                        безопасным пространством для отдыха, спорта и детских игр. 
                    </div>
                </div>
            </div>
            <div class="centering-wrap">
            <a class="btn btn--primary btn-promo" style="margin-left: 10px;" href="">Выбрать таунхаус</a>
                </div>
        </div>
    </div>
</section>