<section class="improvement">
    <div class="container container-improvement">
        <div id="improvement" class="improvement__wrap"><h2 class="improvement__title h2">Благоустройство, в котором
            соединилась<br/>природа и городской комфорт</h2>
            <div class="improvement__list">
                <div class="improvement__item">
                    <div class="improvement__item-img">
                        <img src="assets/img/sections/improvement/improvement_ico_001.svg" alt=""
                             class="improvement__item-ico" width="74" height="74"/>
                    </div>
                    <div class="improvement__item-text p1">более 9 км<br/>пешеходных дорожек</div>
                </div>
                <div class="improvement__item">
                    <div class="improvement__item-img">
                        <img src="assets/img/sections/improvement/improvement_ico_002.svg" alt=""
                             class="improvement__item-ico" width="74" height="74"/>
                    </div>
                    <div class="improvement__item-text p1">22 500м<sup>2</sup><br/>озеленения</div>
                </div>
                <div class="improvement__item">
                    <div class="improvement__item-img">
                        <img src="assets/img/sections/improvement/improvement_ico_003.svg" alt=""
                             class="improvement__item-ico" width="74" height="74"/>
                    </div>
                    <div class="improvement__item-text p1">более 700<br/>парковочных мест</div>
                </div>
            </div>
        </div>
    </div>
</section>