<section id="location" class="location">
    <div class="container container-location">
        <div class="location__wrapper">
            <div class="location__top"><h2 class="location__title h1">Расположение</h2>
            </div>
        </div>
        <div class="location__info p">
            <div class="location__text">
                <p class="p1">Несколько минут, и вы в центре событий&nbsp;— 10&nbsp;минут&nbsp;на автомобиле до города по прямой&nbsp;трассе.</p>
                <p class="p1">Посёлок расположен в 12 км от Рязани по Солотчинскому шосее рядом с посёлком Поляны и загородными
                    туристическими объектами.</p>
                <a data-micromodal-trigger="popup-with-map" class="location__link link">
                    <i class="icon icon-location"></i>
                    <span class="link__text link__text--underline p1">Смотреть на карте Yandex</span>
                </a>
                <a class="btn btn--primary" data-micromodal-trigger="popup-form">Оставить заявку</a>
            </div>
            <div class="location__map"><img src="assets/img/sections/location/polyana-map.svg" alt="Карта Поляна"
                                           class="location-img"
                                           width="600" height="684"/></div>
        </div>
    </div>
</section>