<section id="location" class="location">
    <div class="container container-location">
        <div class="location-wrapper">
            <div class="location-top"><h2 class="location-title h1">Расположение</h2>
                <div class="location-subtitle p1">10 минут на автомобиле и вы в центре событий.</div>
            </div>
        </div>
        <div class="location-info p3">
            <div class="location-map"><img src="assets/img/polyana-map.svg" alt="Карта Поляна" class="location-img"
                                           width="600" height="684"/></div>
            <div class="location-text"><p class="location-shosse">Посёлок расположен в 8 км от Рязани по
                Солотчинскому шоссе рядом с посёлком Поляны и загородными туристическими объектами.</p>
                <p class="location-walker">Несколько минут пешком:</p>
                <ul class="walker-list">
                    <li class="walker-item">Развлекательный комплекс «В некотором царстве»</li>
                    <li class="walker-item">Частная «Школа 360» — прямой выход с территории посёлка</li>
                    <li class="walker-item">Турбаза ФаZOOнда</li>
                </ul>
                <div class="location-car">На автомобиле доступны:</div>
                <ul class="car-list">
                    <li class="car-item"><span class="car-item-min">5 минут</span> <span class="car-info">биатлонный комплекс «Алмаз»</span>
                    </li>
                    <li class="car-item"><span class="car-item-min">6 минут</span> <span class="car-info">туристические комплексы «Экопарк Поляны» с термальным бассейном и аквапарк «Окская жемчужина»</span>
                    </li>
                    <li class="car-item"><span class="car-item-min">11 минут</span> <span class="car-info">гостиница и ресторан «Рыбацкая деревня»</span>
                    </li>
                    <li class="car-item"><span class="car-item-min">13 минут</span><span class="car-info">центр Солотчи с её достопримечательностями и инфраструктурой</span>
                    </li>
                </ul>
                <div class="centering-wrap">
                    <a class="btn btn--primary">
                        Забронировать первым
                     </a>
                </div>
            </div>
        </div>
    </div>
</section>