<!--<section class="progress">-->
<!--    <div class="container">-->
<!--        <h2 class="h2">Ход стоительства</h2>-->
<!--        <div class="conception-switcher">-->
<!--            <div style="min-width: 280px; position: absolute;">-->
<!--                <div class="switcher-container">-->
<!--                    <div class="tabs">-->
<!--                        <input type="radio" id="radio-1" name="tabs" value="2022">-->
<!--                        <label class="tab swiper-preview-control" for="radio-1" data-slide="0">2022</label>-->
<!--                        <input type="radio" id="radio-2" name="tabs" value="2023">-->
<!--                        <label class="tab swiper-preview-control" for="radio-2" data-slide="1">2023</label>-->
<!--                        <input type="radio" id="radio-2" name="tabs" value="2024">-->
<!--                        <label class="tab swiper-preview-control" for="radio-3" data-slide="3">2024</label>-->
<!--                        <span class="glider"></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<section class="progress" data-anchor="" data-id="progress">
    <div class="container">
        <div class=" progress__container">
            <div class="caption caption--option options__caption flex progress__caption">
                <h2 class="h2 text-center" style="margin-bottom: 3rem;">
                    Ход строительства </h2>
                <form class="progress-switcher">
                    <div style="min-width: 280px; position: absolute;">
                        <div class="switcher-container">
                            <div class="tabs">
                                <input type="radio" id="value-1" checked name="tabs" value="2022">
                                <label class="tab swiper-preview-control" for="value-1" data-slide="0">2022</label>
                                <input type="radio" id="value-2" name="tabs" value="2023">
                                <label class="tab swiper-preview-control" for="value-2" data-slide="1">2023</label>
<!--                                <input type="radio" id="value-3" name="tabs" value="2024">-->
<!--                                <label class="tab swiper-preview-control" for="value-3" data-slide="3">2024</label>-->
                                <span class="glider"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="progress-swiper">

                <button class="btn btn--primary-back  progress-swiper-btn--next swiper-button-disabled swiper-button-lock"
                        disabled=""></button>
                <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden"
                     data-swiper="swiperProgress">
                    <ul class="progress-card-list list-reset flex swiper-wrapper"
                        style="transform: translate3d(0px, 0px, 0px);">
                        <li class="progress-card-list__item swiper-slide swiper-slide-active"
                            data-progress-value="2022"
                            data-progress-more="11-2022" style="margin-right: 30px;">
                            <a class="progress-item overlay card-item__clip card-item__clip--1">
                                <div class="progress-item__link">
                                    <img data-bx-app-ex-src="#BXAPP69#"
                                         src="./assets/img/sections/comfort/comfort_bg.webp"
                                         alt=""
                                         width="300"
                                         class="card-item__img"
                                         data-bx-orig-src="./assets/img/sections/comfort/comfort_bg.webp">
                                </div>
                                <p class="card-item__txt">Ноябрь 2023</p></a></li>
                        <li class="progress-card-list__item swiper-slide swiper-slide-active"
                            data-progress-value="2022"
                            data-progress-more="11-2022" style="margin-right: 30px;">
                            <a class="progress-item overlay card-item__clip card-item__clip--1">
                                <div class="progress-item__link">
                                    <img data-bx-app-ex-src="#BXAPP69#"
                                         src="./assets/img/sections/comfort/comfort_bg.webp"
                                         alt=""
                                         width="300"
                                         class="card-item__img"
                                         data-bx-orig-src="./assets/img/sections/comfort/comfort_bg.webp">
                                </div>
                                <p class="card-item__txt">Ноябрь 2023</p></a></li>

                        <li class="progress-card-list__item swiper-slide swiper-slide-active"
                            data-progress-value="2023"
                            data-progress-more="11-2023" style="margin-right: 30px;">
                            <a class="progress-item overlay card-item__clip card-item__clip--1">
                                <div class="progress-item__link">
                                    <img data-bx-app-ex-src="#BXAPP69#"
                                         src="./assets/img/sections/comfort/comfort_bg.webp"
                                         alt=""
                                         width="300"
                                         class="card-item__img"
                                         data-bx-orig-src="./assets/img/sections/comfort/comfort_bg.webp">
                                </div>
                                <p class="card-item__txt">Ноябрь 2023</p></a></li>
                        <li class="progress-card-list__item swiper-slide swiper-slide-next"
                            data-progress-value="2023"
                            data-progress-more="12-2023" style="margin-right: 30px;">
                            <a class="progress-item overlay card-item__clip card-item__clip--1">
                                <div class="progress-item__link">
                                    <img data-bx-app-ex-src="#BXAPP69#"
                                         src="./assets/img/sections/comfort/comfort_bg.webp"
                                         alt=""
                                         width="300"
                                         class="card-item__img"
                                         data-bx-orig-src="./assets/img/sections/comfort/comfort_bg.webp">
                                </div>
                                <p class="card-item__txt">Декабрь 2023</p></a></li>
                        <li class="progress-card-list__item swiper-slide swiper-slide-next"
                            data-progress-value="2023"
                            data-progress-more="12-2023" style="margin-right: 30px;">
                            <a class="progress-item overlay card-item__clip card-item__clip--1">
                                <div class="progress-item__link">
                                    <img data-bx-app-ex-src="#BXAPP69#"
                                         src="./assets/img/sections/comfort/comfort_bg.webp"
                                         alt=""
                                         width="300"
                                         class="card-item__img"
                                         data-bx-orig-src="./assets/img/sections/comfort/comfort_bg.webp">
                                </div>
                                <p class="card-item__txt">Декабрь 2023</p></a></li>
                        <li class="progress-card-list__item swiper-slide swiper-slide-next"
                            data-progress-value="2023"
                            data-progress-more="3-2023" style="margin-right: 30px;">
                            <a class="progress-item overlay card-item__clip card-item__clip--1">
                                <div class="progress-item__link gallery__img">
                                    <img data-bx-app-ex-src="#BXAPP69#"
                                         src="./assets/img/sections/comfort/comfort_bg.webp"
                                         alt=""
                                         width="300"
                                         class="card-item__img"
                                         data-bx-orig-src="./assets/img/sections/comfort/comfort_bg.webp">
                                </div>
                                <p class="card-item__txt">Декабрь 2023</p></a></li>
                        <li class="progress-card-list__item swiper-slide swiper-slide-next"
                            data-progress-value="2023"
                            data-progress-more="3-2023" style="margin-right: 30px;">
                            <a class="progress-item overlay card-item__clip card-item__clip--1">
                                <div class="progress-item__link gallery__img">
                                    <img data-bx-app-ex-src="#BXAPP69#"
                                         src="./assets/img/sections/comfort/comfort_bg.webp"
                                         alt=""
                                         width="300"
                                         class="card-item__img"
                                         data-bx-orig-src="./assets/img/sections/comfort/comfort_bg.webp">
                                </div>
                                <p class="card-item__txt">Декабрь 2023</p></a></li>
                        <li class="progress-card-list__item swiper-slide swiper-slide-next"
                            data-progress-value="2023"
                            data-progress-more="3-2023" style="margin-right: 30px;">
                            <a class="progress-item overlay card-item__clip card-item__clip--1">
                                <div class="progress-item__link gallery__img">
                                    <img data-bx-app-ex-src="#BXAPP69#"
                                         src="./assets/img/sections/comfort/comfort_bg.webp"
                                         alt=""
                                         width="300"
                                         class="card-item__img"
                                         data-bx-orig-src="./assets/img/sections/comfort/comfort_bg.webp">
                                </div>
                                <p class="card-item__txt">Декабрь 2023</p></a></li>
                    </ul>
                </div>
                <button class="btn btn--primary-back progress-swiper-btn--prev  swiper-button-lock swiper-button-disabled"
                        disabled=""></button>
            </div>

        </div>
    </div>
</section>
<div class="popup micromodal-slide" id="modal-2" aria-hidden="true">
    <div class="popup__container" role="dialog" aria-modal="true">
        <div class="popup__body container">
            <div class="popup__header">
                <div class="main-logo"><a href="/" class="link main-header-logo"><img
                        src="assets/img/logos/polyana_logo.svg"
                        alt="Поляна лого" width="250"
                        height="56"/></a></div>
                <button class="btn btn-close" data-modal-close>
                    <svg class="ham hamRotate active ham1" viewBox="0 0 100 100" width="80" >
                        <path class="line top"
                              d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"/>
                        <path class="line middle" d="m 30,50 h 40"/>
                        <path class="line bottom"
                              d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"/>
                    </svg>
                </button>
            </div>
            <div class="popup__main">
                <div class="modal-content">
                    <div class="modal-content__swiper">
                        <div class="modal-content__swiper-main">
                            <button class="opt-prev progress-more-swiper-btn--prev"></button>
                            <div class="swiper swiper-horizontal swiper-backface-hidden"
                                 data-swiper="swiperProgressMore">
                                <ul class="swiper-wrapper list-reset">
                                    <li class="swiper-slide" data-progress-more="3-2023">
                                        <img width="100" alt="" src="./assets/img/sections/comfort/comfort_bg.webp">
                                    </li>
                                    <li class="swiper-slide" data-progress-more="3-2023">
                                        <img width="100" alt="" src="./assets/img/sections/comfort/comfort_bg.webp">
                                    </li>
                                    <li class="swiper-slide" data-progress-more="3-2023">
                                        <img width="100" alt="" src="./assets/img/sections/comfort/comfort_bg.webp">
                                    </li>
                                </ul>
                                <div class="swiper-progress-pagination swiper-pagination-bullets swiper-pagination-horizontal">
                                    <span class="swiper-progress-pagination__bullet swiper-progress-pagination__bullet--active"></span><span
                                        class="swiper-progress-pagination__bullet"></span><span
                                        class="swiper-progress-pagination__bullet"></span><span
                                        class="swiper-progress-pagination__bullet"></span></div>
                            </div>
                            <button class="opt-next progress-more-swiper-btn--next"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    </div>-->
<!--</section>-->
