<section id="projects" class="projects">
    <div class="container-s container-projects"><h2 class="projects-title h2">Лёгкость и свобода загородной жизни</h2>
        <div class="projects-info projects-info-wrap">
            <div class="projects-text p1">«Поляна» — мини-город рядом с природой, где взрослые и дети смогут учиться и
                работать, отдыхать и заниматься спортом, не выезжая за территорию комплекса. Продуманная территория
                посёлка формирует ощущение жизни в лёгкости и комфорте. Всё важное и нужное находится на расстоянии
                нескольких шагов.
            </div>
            <div class="projects-list">
                <div class="projects-item"><img src="assets/img/sections/projects/projects_001.png" alt="Фитнес-зал"
                                                class="projects-item-img"/>
                    <div class="projects-item-text">Фитнес-зал</div>
                </div>
                <div class="projects-item"><img src="assets/img/sections/projects/projects_002.png" alt="Семейное кафе"
                                                class="projects-item-img"/>
                    <div class="projects-item-text">Семейное кафе</div>
                </div>
                <div class="projects-item"><img src="assets/img/sections/projects/projects_003.png" alt="Супермаркет"
                                                class="projects-item-img"/>
                    <div class="projects-item-text">Супермаркет</div>
                </div>
                <div class="projects-item"><img src="assets/img/sections/projects/projects_004.png" alt="Хозяйственный магазин"
                                                class="projects-item-img"/>
                    <div class="projects-item-text">Хозяйственный магазин</div>
                </div>
                <div class="projects-item"><img src="assets/img/sections/projects/projects_005.png" alt="Салон красоты"
                                                class="projects-item-img"/>
                    <div class="projects-item-text">Салон красоты</div>
                </div>
                <div class="projects-item"><img src="assets/img/sections/projects/projects_006.png" alt="Аптека"
                                                class="projects-item-img"/>
                    <div class="projects-item-text">Аптека</div>
                </div>
                <div class="projects-item"><img src="assets/img/sections/projects/projects_007.webp" alt="Коворкинг"
                                                class="projects-item-img"/>
                    <div class="projects-item-text">Коворкинг</div>
                </div>
                <div class="projects-item"><img src="assets/img/sections/projects/projects_008.webp" alt="Детский сад"
                                                class="projects-item-img"/>
                    <div class="projects-item-text">Зоны отдыха</div>
                </div>
            </div>
        </div>
    </div>
</section>