<section class="wrapper-inner-sm surround">
    <h2 class="surround__heading h2 text-center">Окружение</h2>
        <ul class="surround__list">
            <li class="surround__item">
                <picture>
                    <source
                            type="image/avif"
                            srcset="./assets/img/sections/surround/avif/v-nekotorom-carstve.avif"
                    />
                    <source
                            type="image/webp"
                            srcset="./assets/img/sections/surround/webp/v-nekotorom-carstve.webp"
                    />
                    <img class="surround__img" src="./assets/img/sections/surround/png/v-nekotorom-carstve.png" width="160" alt="«В некотором царстве»">
                </picture>
                <h3 class="surround__item-heading p3">
                    Развлекательный комплекс <br> «В некотором царстве» 
                </h3>
                <span class="surround__caption p4">
                    <i class="icon icon-exit"></i>
                    <span>прямой выход <br>с территории посёлка</span>
                </span>
            </li>
            <li class="surround__item">
                <picture>
                    <source
                            type="image/avif"
                            srcset="./assets/img/sections/surround/avif/school-360.avif"
                    />
                    <source
                            type="image/webp"
                            srcset="./assets/img/sections/surround/webp/school-360.webp"
                    />
                    <img class="surround__img" src="./assets/img/sections/surround/png/school-360.png" width="160" alt="Школа 360">
                </picture>
                <h3 class="surround__item-heading p3">
                    Частная «Школа 360»
                </h3>
                <span class="surround__caption p4">
                    <i class="icon icon-exit"></i>
                    <span>прямой выход <br>с территории посёлка</span>
                </span>
            </li>
            <li class="surround__item">
                <picture>
                    <source
                            type="image/avif"
                            srcset="./assets/img/sections/surround/avif/fazoonda.avif"
                    />
                    <source
                            type="image/webp"
                            srcset="./assets/img/sections/surround/webp/fazoonda.webp"
                    />
                    <img class="surround__img"  src="./assets/img/sections/surround/png/fazoonda.png" width="160" alt="Турбаза ФаZOOнда">
                </picture>
                <h3 class="surround__item-heading p3">
                    Турбаза ФаZOOнда
                </h3>
            </li>
            <li class="surround__item">
                <picture>
                    <source
                            type="image/avif"
                            srcset="./assets/img/sections/surround/avif/diamond.avif"
                    />
                    <source
                            type="image/webp"
                            srcset="./assets/img/sections/surround/webp/diamond.webp"
                    />
                    <img class="surround__img"  src="./assets/img/sections/surround/png/diamond.png" width="160" alt="«Алмаз»">
                </picture>
                <h3 class="surround__item-heading p3">
                    Биатлонный комплекс <br>
                    «Алмаз»
                </h3>
            </li>
            <li class="surround__item">
                <picture>
                    <source
                            type="image/avif"
                            srcset="./assets/img/sections/surround/avif/ekopark-polyani.avif"
                    />
                    <source
                            type="image/webp"
                            srcset="./assets/img/sections/surround/webp/ekopark-polyani.webp"
                    />
                    <img class="surround__img"  src="./assets/img/sections/surround/png/ekopark-polyani.png" width="160" alt="«Экопарк Поляны»">
                </picture>
                <h3 class="surround__item-heading p3">
                    Туристические комплексы <br>
                    «Экопарк Поляны»
                </h3>
            </li>
            <li class="surround__item">
                <picture>
                    <source
                            type="image/avif"
                            srcset="./assets/img/sections/surround/avif/center-of-solotcha.avif"
                    />
                    <source
                            type="image/webp"
                            srcset="./assets/img/sections/surround/webp/center-of-solotcha.webp"
                    />
                    <img class="surround__img"  src="./assets/img/sections/surround/png/center-of-solotcha.png" width="160" alt="Центр Солотчи">
                </picture>
                <h3 class="surround__item-heading p3">
                    Центр Солотчи с её достопримечательностями и инфраструктурой
                </h3>
            </li>
            <li class="surround__item">
                <picture>
                    <source
                            type="image/avif"
                            srcset="./assets/img/sections/surround/avif/okskaya-zhemchuzhina.avif"
                    />
                    <source
                            type="image/webp"
                            srcset="./assets/img/sections/surround/webp/okskaya-zhemchuzhina.webp"
                    />
                    <img class="surround__img"  src="./assets/img/sections/surround/png/okskaya-zhemchuzhina.png" width="160" alt="«Окская Жемчужина»">
                </picture>
                <h3 class="surround__item-heading p3">
                    Загородный курорт <br>
                    «Окская Жемчужина»
                </h3>
            </li>
            <li class="surround__item">
                <picture>
                    <source
                            type="image/avif"
                            srcset="./assets/img/sections/surround/avif/fish-village.avif"
                    />
                    <source
                            type="image/webp"
                            srcset="./assets/img/sections/surround/webp/fish-village.webp"
                    />
                    <img class="surround__img"  src="./assets/img/sections/surround/png/fish-village.png" width="160" alt="«Рыбацкая деревня»">
                </picture>
                <h3 class="surround__item-heading p3">
                    Гостиница и ресторан <br>
                    «Рыбацкая деревня»
                </h3>
            </li>
        </ul>
</section>