@font-face {
    font-family: "Steppe";
    src: url('../assets/fonts/Steppe.woff') format("woff"), url('../assets/fonts/Steppe.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Grafita";
    src: url(../assets/fonts/GrafitaNormal.otf)
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #2e3f4f;
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.container-xl {
    width: 100%
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: block;
    padding: 0 100px
}

.container-s {
    max-width: 1080px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto
}

/*TODO: ВЫНЕСТИ*/

.wrapper-main {
    width: 100%;
    padding: 0 20px;
}

.wrapper-outer {
    width: 100%
}

.wrapper-inner-sm {
    max-width: 1040px;
    margin: 0 auto;
}

.wrapper-inner-xl {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper-full-width {
    width: calc(100vw - 20px);
    margin-left: -20px;
    overflow: hidden;
}

.text-center {
    text-align: center;
}


.main-logo, .container-main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.link {
    text-decoration: none
}

.title {
    margin: 0
}

.bnt-main-header-phone a:visited {
    color: #2e3f4f
}

@media (max-width: 1199px) {
    .container {
        padding-left: 50px;
        padding-right: 50px
    }
}

@media (max-width: 575px) {
    .container {
        padding: 1rem
    }

}

.main-logo {
    padding: 35px 0 9px;
    margin: auto;
    width: 15.625rem
}

.main-logo a {
    display: contents
}

.main-logo img {
    width: 100%
}