<section class="wrapper-inner-sm choosing-house">
    <div class="choosing-house__heading">
        <button class="btn btn--primary-back choosing-house__btn-back ">
            <span>Назад</span>
        </button>
        <div class="text-center">
            <h2 class="h4">Выберите дом</h2>
        </div>
    </div>
    <div class="house-picker">
        <div class="house-picker__location-info house-picker__location-info--up">
            <span class="house-picker__location-info-bellow-heading">Развлекательный комплекс</span>
            <span class="house-picker__location-info-heading">«В некотором царстве» </span>
        </div>
        <div class="house-picker__location-info house-picker__location-info--right">
            <span class="house-picker__location-info-heading">Солотчинское шоссе</span>
        </div>
        <div class="house-picker__location-info house-picker__location-info--left">
            <span class="house-picker__location-info-compass"></span>
        </div>
        <div class="house-picker__row">
            <div class="house-picker__block">
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 1
                    </div>
                    <div class="house-picker__info-status">
                        Нет в продаже
                    </div>
                </div>
                <div class="house-picker__house-container">
                    <div class="house-picker__house">

                    </div>
                </div>
            </div>
            <div class="house-picker__block">

                <div class="house-picker__house-container">
                    <div class="house-picker__house">

                    </div>
                </div>
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 6
                    </div>
                    <div class="house-picker__info-status">
                        Нет в продаже
                    </div>
                </div>
            </div>
        </div>
        <div class="house-picker__row">
            <div class="house-picker__block">
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 2
                    </div>
                    <div class="house-picker__info-status">
                        Свободно
                        <br>
                        9 таунхаусов
                    </div>
                </div>
                <div class="house-picker__house-container house-picker__house-container--reverse">
                    <div class="house-picker__house">

                    </div>
                </div>
            </div>
            <div class="house-picker__block">

                <div class="house-picker__house-container house-picker__house-container--reverse">
                    <div class="house-picker__house">

                    </div>
                </div>
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 7
                    </div>
                    <div class="house-picker__info-status">
                        Свободно
                        <br>
                        10 таунхаусов
                    </div>
                </div>
            </div>
        </div>
        <div class="house-picker__row">
            <div class="house-picker__block">
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 3
                    </div>
                    <div class="house-picker__info-status">
                        Свободно
                        <br>
                        2 таунхауса
                    </div>
                </div>
                <div class="house-picker__house-container">
                    <div class="house-picker__house">
                    </div>
                </div>
            </div>
            <div class="house-picker__block">

                <div class="house-picker__house-container">
                    <div class="house-picker__house">

                    </div>
                </div>
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 8
                    </div>
                    <div class="house-picker__info-status">
                        Свободно
                        <br>
                        8 таунхаусов
                    </div>
                </div>
            </div>
        </div>
        <div class="house-picker__row">
            <div class="house-picker__block">
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 4
                    </div>
                    <div class="house-picker__info-status">
                        Свободно
                        <br>
                        3 таунхауса
                    </div>
                </div>
                <div class="house-picker__house-container house-picker__house-container--reverse">
                    <div class="house-picker__house">
                    </div>
                </div>
            </div>
            <div class="house-picker__block">

                <div class="house-picker__house-container house-picker__house-container--reverse">
                    <div class="house-picker__house">
                    </div>
                </div>
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 9
                    </div>
                    <div class="house-picker__info-status">
                        Свободно
                        <br>
                        6 таунхаусов
                    </div>
                </div>
            </div>
        </div>
        <div class="house-picker__row">
            <div class="house-picker__block">
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 5
                    </div>
                    <div class="house-picker__info-status">
                        Свободно
                        <br>
                        4 таунхауса
                    </div>
                </div>
                <div class="house-picker__house-container">
                    <div class="house-picker__house">

                    </div>
                </div>
            </div>
            <div class="house-picker__block">

                <div class="house-picker__house-container">
                    <div class="house-picker__house">

                    </div>
                </div>
                <div class="house-picker__info">
                    <div class="house-picker__info-title">
                        Дом 10
                    </div>
                    <div class="house-picker__info-status">
                        Свободно
                        <br>
                        5 таунхаусов
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>