.h1 {

    @include rfs(62px, font-size);
}

.h2 {


    @include rfs(48px, font-size);
}

.h3 {

    @include rfs(36px, font-size);
}

.h4 {

    @include rfs(30px, font-size);
}

.p1 {

    @include rfs(20px, font-size);
}

.p2 {

    @include rfs(18px, font-size);
}

.p3 {

    @include rfs(14px, font-size);
}

.p4 {

    @include rfs(12px, font-size);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Grafita, Steppe, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}


@media (width <= 575px) {
    .p1 {

        @include rfs(18px, font-size);
    }

    .p2 {

        @include rfs(16px, font-size);
    }

    .p3 {

        @include rfs(12px, font-size);
    }

    .p4 {

        @include rfs(10px, font-size);
    }
}


@media (width <= 375px) {
    .p1 {

        @include rfs(16px, font-size);
    }

    .p2 {

        @include rfs(14px, font-size);
    }
}


