* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: $color-blue-100;
}

$base: rem(4px);

body {
    background: $color-white;
}

.wrapper {
    &-outer {
        width: 100%;
    }

    &-inner-xl {
        max-width: 1240px;
        margin: 0 auto;
    }

    &-inner-sm {
        max-width: 1040px;
        margin: 0 auto;
    }
}


// header
.header {
    padding: 35px 0;

    &__logo {
        margin-bottom: $base * 7;
        text-align: center;
    }
}

.navigation {
    &__list {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;

    }
}
// /header
