/* Webfont: Steppe-Regular */
@font-face {
    font-family: "Steppe";
    src: url("../assets/fonts/Steppe.woff") format("woff"),
    url("../assets/fonts/Steppe.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Grafita";
    src: url("../assets/fonts/GrafitaNormal.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    //margin: 0 auto;
    //padding: 0;
    //max-width: 1440px;
    /* min-width: 1440px; */
    background: #fff;
    color: #2e3f4f;
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c2b38;
    font-family: "Grafita", "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-size: 62px;
    line-height: 100%;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.container-xl {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: block;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0 100px;
}

.container-s {
    max-width: 1080px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

.main-logo,
.container-main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
}

.title {
    margin: 0;
}

.btn {
    border-radius: 10px;
}

.btn-dark {
    background: #2d2d39;
    color: #f2cfbe;
    transition: 0.3s ease-out;

    &:hover {
        background: lighten(#2d2d39, 10%);
    }

}

.btn-light {
    background: #f2cfbe;
    color: #2e3f4f;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: lighten( #f2cfbe, 5%);
    }
}

.btn-promo {
    padding: 21px 47px;
    margin-top: 21px;
    font-size: 18px;
    line-height: 100%;
}

.main-logo {
    padding: 35px 0 9px;
    margin: auto;
}

.main-header-phone-wrapper {
    //max-width: 1440px;
    white-space: nowrap;
    padding: 30px 0;
    margin-left: 50px;
}

.main-header-callback {
    position: absolute;
    top: -26px;
    right: -93px;
}

.main-header-nav-wrapper {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-right: 34px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.site-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 50px;

    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-navigation::-webkit-scrollbar {
    display: none;
}

.site-navigation-item {
    padding: 30px 0;
}

.site-navigation-item a,
.site-navigation-item a:visited {
    font-size: 14px;
    line-height: 20px;
    color: #2e3f4f;
}

.bnt-main-header-phone a {
    font-size: 14px;
    line-height: 20px;
    padding: 4px 8px 2px 10px;
    color: #2e3f4f;
}

.bnt-main-header-phone a:visited {
    color: #2e3f4f;
}

.promo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-top {
    overflow: hidden;
    //height: 500px;
    background: linear-gradient(180deg, #91B8C9 1.89%, #C1D3DA 50.68%, #DFDDDE 100%);
    //background-image: url(../assets/img/promo_bg.jpg);
    //background-color: #f2cfbe;
    //background-position: top center;
    //background-repeat: no-repeat;
    //background-size: cover;
    .container-s {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 67px;
    }

}

.promo-top-info {
    //padding-top: 113px;
    //padding-left: 68px;
    max-width: 370px;
}

.promo-title {
    padding-bottom: 20px;
}

.promo-subtitle {
    font-family: "Grafita", "Steppe", sans-serif;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 61px;
}

.promo-top-img {
    //padding-top: 14px;
    padding-left: 80px;
    margin-bottom: -9px;
}

.promo-text {
    width: 640px;
    padding: 50px 20px 74px;

}

.promo-text-wrapper,
.location-wrapper {
    display: flex;
    justify-content: center;
}

.location-top {
    text-align: center;
}

.location-title {
    margin: 0;
    padding-bottom: 32px;
}

.location-subtitle {
    max-width: 520px;
}

.location-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.location-text {
    padding-top: 100px;
    padding-left: 20px;
    width: 568px;
    font-size: 14px;
    line-height: 120%;
}

.location-text p {
    /* margin: 0; */
    font-size: 14px;
    line-height: 120%;
}

.location-shosse p {
    margin-bottom: 31px;
}

.location-walker::before {
    width: 22px;
    display: inline-block;
    content: " ";
    margin-right: 5px;
    color: transparent;
    height: 33px;
    background: url(../assets/img/walker_ico.png) 0 13px #fff no-repeat;
}

.walker-list {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 140%;
}

.location-car {
    margin-bottom: 10px;
}

.location-car::before {
    width: 22px;
    display: inline-block;
    content: " ";
    margin-right: 5px;
    color: transparent;
    height: 25px;
    background: url(../assets/img/car_ico.png) 0 8px #fff no-repeat;
}

.location-btn {
    text-align: center;

    * {
        display: inline-block;
        margin: 40px 0;
        white-space: nowrap;
    }
}

.car-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.car-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.car-item-min {
    min-width: 83px;
    margin-right: 14px;
    margin-left: 10px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 13px;
    padding: 7px 12px;
    border-color: #f2cfbe;
    font-size: 14px;
    line-height: 140%;
    border-style: solid;
    border-width: 1px;
}

.conception-wrapper {
    //height: 720px;
    padding-bottom: 60px;

    background-image: url(../assets/img/concept_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conception-top-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.conception-title {
    margin: 48px 0 27px;
}

.conception-subtitle {
    max-width: 586px;
    padding-bottom: 45px;
}

.conception-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.conception-item {
    max-width: 270px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.conception-item-ico {
    margin: 0;
    padding: 0;
    height: 134px;
}

.conception-item-container {
}

.conception-item-title {
    font-family: "Grafita", "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    margin: 21px 0 10px;
}

.conception-item-subtitle {
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 20px;
}

.conception-item-text {
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    flex: 1;
}

.projects-title {
    text-align: center;
    margin: 60px 0 70px;
    font-family: "Grafita", "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}

.projects-info-wrap {
    display: flex;
    //padding-left: 200px;
    //padding-right: 200px;
}

.projects-text {
    width: 389px;
    min-width: 389px;
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
    padding-left: 28px;
    margin-bottom: 304px;
}

.projects-list::-webkit-scrollbar {
    display: none;
}

.projects-item {
    width: 132px;
}

.projects-item-text {
    padding: 0;
    padding-top: 10px;
    text-align: center;
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}

.container-improvement {
    position: relative;
    padding: 0;
}

.improvement-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: -230px;
    background: #f2cfbe;
    border-radius: 170px;
    padding: 56px 40px 84px;
}

.improvement-title {
    //padding: 56px 40px 80px;
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}

.container-advantages {
    padding-top: 316px;
    background: #2D2D39;
    color: #fff;
}

.advantages-item-title {
    color: #fff;
}

.improvement-list {
    display: flex;
    justify-content: center;
    gap: 20px;


}

.improvement-item {
    width: 270px;
    text-align: center;
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.improvement-item-img {
    padding-bottom: 22px;
}

.advantages-list {
    display: block;
}
.advantages-list--narrow {
    display: none;
}

.advantages-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.advantages-item:last-child {
    padding-bottom: 124px;
}

.advantages-item:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.advantages-item-column1 {
    width: 360px;
}

.advantages-item-column2 {
    width: 520px;
    padding: 0 80px;
}

.advantages-item-title {
    margin: 0;
    padding-bottom: 30px;
    font-family: "Grafita", "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}

.advantages-item-subtitle {
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    padding-bottom: 10px;
}

.advantages-item-text {
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.container-comfort {
    min-height: 660px;
    padding-top: 84px;


}
.comfort {
    background-image: url('/src/assets/img/bg-comfort.jpeg');
    background-position: 36% 91%;
    background-repeat: no-repeat;
    background-size: 175%;
}

.comfort-wrapper {
    width: 770px;
    margin-left: 41px;
}

.comfort-title {
    margin: 0;
    font-family: "Grafita", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;

    text-align: center;
}

.comfort-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.comfort-item {
    background-image: url(../assets/img/comfort_item_bg.svg);
    width: 360px;
    height: 380px;
    margin: 0 auto;

    overflow: hidden;
}

.comfort-item-img {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.comfort-item-title {
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    padding: 18px 0 10px;
    text-align: center;
}

.comfort-item-text {
    font-family: "Steppe", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 0 50px;
}

.details {
    padding-top: 80px;
}

.details-title {
    margin: 0;
    text-align: center;
    font-size: 48px;
    line-height: 100%;
    padding-bottom: 20px;
}

.details-subtitle {
    font-size: 20px;
    line-height: 140%;
    text-align: center;
}

.details-form-wrap {
    padding-top: 30px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}

input,
textarea {
    font-family: "Steppe", sans-serif;
    font-size: 14px;
    line-height: 120%;

}

.details-form {
    width: 280px;
}

::-webkit-input-placeholder {
    color: #f2cfbe;
}

::-moz-placeholder {
    color: #f2cfbe;
}

:-moz-placeholder {
    color: #f2cfbe;
}

:-ms-input-placeholder {
    color: #f2cfbe;
}

.rounded-input {
    box-sizing: border-box;
    /* padding-bottom: 15px; */
    padding-left: 20px;
    border-radius: 10px;
    border-color: #c3b378;
    border-style: solid;
    border-width: 1px;
    width: 280px;
    height: 50px;
    margin-bottom: 20px;
}

.rounded-button {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border-color: #f2cfbe;
    border-style: solid;
    border-width: 1px;
    width: 280px;
    height: 60px;
    font-family: "Grafita", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

    text-align: center;
    color: #2d2d39;
}

.main-footer-wrap {
    padding: 0 0 74px;
}

.main-footer-columns {
    display: flex;
    justify-content: space-between;
}

.main-footer-copyright,
.main-footer-contacts,
.main-footer-contacts p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 140%;
}

.main-footer-copyright {
    padding-top: 11px;
}

.main-footer-contacts p {
    padding-bottom: 6px;
}

.socials {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider {
    overflow: hidden;
    transition: 0.3s ;
    width: 310px;
    margin: 0 auto;
    &__container {
        display: flex;
        align-items: flex-start;
        list-style: none;

    }

    &__item {
        width: 310px;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &--active {
            opacity: 1;
        }

    }
}

.slider-btn {
    background: transparent;
    border: none;
    font-size: 28px;
    transition: 0.3s;
    color: grey;
    cursor: pointer;
    color: #6F6F82;

    &:hover {
        color: lighten(#6F6F82, 10%);
    }
}

.slider-btn.active {
    color: $color-white;
}

.fade-out {
    animation: fade-out 0.3s ease-out both;
}


.fade-in {
    animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.tabs-list {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 30px;
    overflow-x: scroll ;
    margin-bottom: 30px;
    justify-content: center;

    &::-webkit-scrollbar {
        display: none;
    }
}


@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

.callback-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;

    .btn-callback {
        position: relative;
        background-color: white;
        //border: 1px solid #F2CFBE;
        box-shadow: 0 0 20px -10px rgba(44, 43, 56, 0.6);
        border: none;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &__text {
            position: absolute;
            width: 56px;
            height: 56px;
            background: url('/src/assets/img/callback-text.svg');
            animation: rotate-center 30s linear infinite;
        }


    }
}

.icon-phone {
    display: block;
    width: 18px;
    height: 30px;
    background: url("/src/assets/img/icon-phone.svg");
}
@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input-box > input::-webkit-input-placeholder {
    transition: all .15s ease-in;
    color: #f2cfbe;
}

.input-box > input:focus::-webkit-input-placeholder {
    transform: translateX(20px);
    opacity: 0;
}

.success-message {
    display: flex;
    align-items: center;
    height: 420px;
    justify-content: center;
    &__icon {
        width: 67px;
        //margin-left: -14px;
        overflow: visible;
    }
}


// MEDIA

// 1200px
@include media-query(lg) {

    .comfort {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .main-header-nav-wrapper {
        margin: 0;
        padding: 0 20px;
    }
    .container-main-header {
        padding: 0;
    }


    .projects-info-wrap {
        flex-direction: column;
        overflow: hidden;
    }

    .projects-text {
        width: auto;
        padding: 20px;
    }

    .projects-list {
        padding: 0 20px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

//992px
@include media-query(md) {

    .promo-top {
        padding-top: 20px;
        text-align: center;
        .container-s {
            padding-left: 0;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .container-comfort {
        padding: 84px 50px;
    }
    .conception-wrapper {
        padding: 0 20px 40px;
    }
    .comfort-wrapper {
        margin: 0;
        width: auto;
    }
    .advantages-list--narrow {
        display: block;
    }
    .advantages-list--wide {
        display: none;
    }
    .advantages-item {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        min-width: 310px;
        align-items: flex-start;
        width: 310px;
        margin: 0 auto;
        padding-bottom: 68px !important;
    }
    .advantages-item:nth-child(even) {
        flex-direction: column;
        text-align: left;
    }
    .advantages-item-column1 {
        width: 310px;
        img {
            width: 310px;
            height: 310px;
        }
    }
    .advantages-item-column2 {
        padding: 0;
        width: auto;
    }

    .advantages-item-title {
        display: none;
    }
    .advantages-item-subtitle {
        font-size: 16px;
    }
    .advantages-item-text {
        font-size: 14px;
    }
    .improvement-title {
        font-size: 38px;
    }

    .comfort-list {
        gap: 11px;
    }


}

//768px
@include media-query(sm) {

    h2,
    .projects-title,
    .comfort-title,
    .details-title
    {
        font-size: 38px;
        line-height: 100%;
    }

    .promo-top-info {
        text-align: center;
    }

    .promo-title {
        font-size: 42px;
        padding-bottom: 10px;
    }

    .promo-top-img {
        padding: 20px 0 0;
        img {
            width: 267px;
        }
    }
    .promo-subtitle {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .location-map {
        img {
            width: 500px;
            height: auto;
        }
    }

    .success-message {
        height: 270px;
    }


    .improvement-wrap {
        border-radius: 100px;
    }

    .improvement-title {
        font-size: 32px;
    }

    .improvement-item-text {
        font-size: 14px;
    }

    .conception {
        .conception-item {
            max-width: 310px;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .conception-item-title {
            min-width: 130px;
        }
        .conception-item-ico {
            width: 100px;
            flex: 0.4;
            img {
                width: 100px
            }
        }
        .conception-item-container {
            flex: 0.6;
        }
    }
    .container-advantages {
        padding-top: 350px;
    }
    .container-comfort {
        padding: 44px 10px;
    }
    .comfort-list {
        flex-direction: column;
        align-items: center;
    }

    .details-form-wrap {
        padding-bottom: 44px;
    }

    .main-footer-wrap {
        padding: 0 50px 36px;
    }

    .main-footer-columns {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 40px;
    }
}

//576px
@include media-query(xs) {

    .site-navigation-item,
    .main-header-phone-wrapper {
        padding: 10px 0;
    }
    .location-map {
        img {
            width: 310px;
        }
    }

    .location-text {
        padding: 0;
    }

    .comfort-item {
        width: 310px;
        height: 340px;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        border-radius: 34%;
    }
    .comfort-item-img {
        margin-top: 30px;
    }
    .container-advantages {
        padding-top: 450px;
    }
    .comfort-item-text {
        padding: 0 30px;
    }

    .tabs-list {
        justify-content: flex-start;
    }

    .callback-wrapper {
        display: block;
    }

    .improvement-title {
        font-size: 24px;
    }
    .improvement-item-ico {
        //font-size: 32px;
        width: 64px;
        height: 64px;
    }

    .improvement-item-img {
        padding-bottom: 18px;
    }

    .location-btn {
       a {
           font-size: 18px;
        padding: 18px 32px;
       }
    }

}