<section id="conception" class="conception">
    <div class="container-xl container-conception">
        <div class="conception-wrapper">
            <div class="conception-top-wrapper">
                <div class="conception-top"><h2 class="conception-title">Концепция</h2>
                    <div class="conception-subtitle">Выбирайте вариант, который отражает ваши представления о
                        комфортной жизни
                    </div>
                </div>
            </div>
            <div class="conception-list container-s">
                <div class="conception-item">
                    <div class="conception-item-ico"><img src="assets/img/concept-ico-1.webp" alt=""
                                                          class="conception-ico" width="134" height="134"/></div>
                    <div class="conception-item-container"><h3 class="conception-item-title">Квартира</h3>
                        <div class="conception-item-subtitle">7&nbsp;многоквартирных домов по&nbsp;4&nbsp;этажа
                        </div>
                    </div>
                    <div class="conception-item-text">Продуманные планировки и двухуровневые квартиры со вторым
                        светом и французскими балконами. Вид на современную загородную архитектуру и благоустроенную
                        территорию с озеленением. Функциональные планировки и веранды для квартир на первых этажах.
                    </div>
                </div>
                <div class="conception-item">
                    <div class="conception-item-ico"><img src="assets/img/concept-ico-2.webp" alt=""
                                                          class="conception-ico" width="134" height="134"/></div>
                    <div class="conception-item-container"><h3 class="conception-item-title">Таунхаус</h3>
                        <div class="conception-item-subtitle">95 таунхаусов<br>в&nbsp;посёлке</div>
                    </div>
                    <div class="conception-item-text">Три этажа комфорта и собственная парковка. Ваш личный задний
                        двор с лужайкой и зоной отдыха, куда вы попадаете прямо из гостиной на первом этаже.
                    </div>
                </div>
                <div class="conception-item">
                    <div class="conception-item-ico"><img src="assets/img/concept-ico-3.webp" alt=""
                                                          class="conception-ico" width="134" height="134"/></div>
                    <div class="conception-item-container"><h3 class="conception-item-title">Дом</h3>
                        <div class="conception-item-subtitle">45&nbsp;участков от&nbsp;6&nbsp;до&nbsp;11&nbsp;соток
                            с&nbsp;домами
                        </div>
                    </div>
                    <div class="conception-item-text">Выбор из четырёх вариантов планировки, в каждом — просторная
                        веранда с выходом на собственный земельный участок. Возможность добавить в проект
                        строительства камин для дополнительного уюта. Панорамные окна с видом на современную
                        загородную архитектуру.
                    </div>
                </div>
            </div>
            <div>
                <section class="container-xl">
                    <div class="location-btn"><a class="btn btn-dark btn-promo link promo-link"
                                                 data-micromodal-trigger="popup-form">Оставить заявку</a></div>
                </section>
            </div>
        </div>
    </div>
</section>
