<section class="concept-selection wrapper-outer">
    <div class="wrapper-inner">
        <div class="text-center heading">
            <h2 class="h2">
                Концепция
            </h2>
            <span class="p1">
                Выбирайте вариант, который отражает ваши представления о комфортной жизни
            </span>
        </div>
        <div>
            <ul class="tabs concept-selection__tabs">
                <li class="tab active"><a href="#tab1">
                    <div class="pin pin--with-icon">
                        <i class="icon icon--townhouse"></i><span>Таунхаус</span>
                    </div>
                </a></li>
                <li class="tab"><a href="#tab2">
                    <div class="pin pin--with-icon pin--soon">
                        <i class="icon icon--house"></i><span>Дом</span>
                    </div>
                </a></li>
                <li class="tab"><a href="#tab3">
                    <div class="pin pin--with-icon pin--soon">
                        <i class="icon icon--apartment"></i><span>Квартира</span>
                    </div>
                </a></li>
            </ul>

            <section class="tab-contents">
                <div id="tab1" class="tab-contents active">
                    <article class="conception-preview">
                        <img src="./assets/img/components/concept-selection/Vector.png" class="conception-preview__img" alt="">
                        <div class="conception-preview__container">
                            <h4 class="h4 conception-preview__subtitle">
                                95 таунхаусов с патио и личной эко-парковкой
                            </h4>
                            <p class="p2 conception-preview__text">
                                Три этажа вашего комфорта и собственная парковка. Ваш личный задний двор с лужайкой и
                                зоной отдыха, куда вы попадаете прямо из гостиной на первом этаже. 
                            </p>
                            <a class="btn btn--dark">
                                Выбрать таунхаус
                            </a>
                        </div>
                    </article>
                </div>
                <div id="tab2" class="tab-contents">
                    <article class="conception-preview">
                        <img src="./assets/img/components/concept-selection/Vector.png" class="conception-preview__img" alt="">
                        <div class="conception-preview__container">
                            <h4 class="h4 conception-preview__subtitle">
                                95 таунхаусов с патио и личной эко-парковкой
                            </h4>
                            <p class="p2 conception-preview__text">
                                Три этажа вашего комфорта и собственная парковка. Ваш личный задний двор с лужайкой и
                                зоной отдыха, куда вы попадаете прямо из гостиной на первом этаже. 
                            </p>
                            <a class="btn btn--dark">
                                Выбрать таунхаус
                            </a>
                        </div>
                    </article>
                </div>
                <div id="tab3" class="tab-contents">
                    <article class="conception-preview">
                        <img src="./assets/img/components/concept-selection/Vector.png" class="conception-preview__img" alt="">
                        <div class="conception-preview__container">
                            <h4 class="h4 conception-preview__subtitle">
                                95 таунхаусов с патио и личной эко-парковкой
                            </h4>
                            <p class="p2 conception-preview__text">
                                Три этажа вашего комфорта и собственная парковка. Ваш личный задний двор с лужайкой и
                                зоной отдыха, куда вы попадаете прямо из гостиной на первом этаже. 
                            </p>
                            <a class="btn btn--dark">
                                Выбрать таунхаус
                            </a>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</section>