<footer class="main-footer">
    <div class="container-s container-main-footer">
        <div class="main-footer-wrap">
            <div class="main-footer-columns">
                <div class="main-footer-column">
                    <div class="main-footer-logo"><img src="assets/img/logo_marmax.svg" alt="Мармакс"
                                                       class="main-footer-logo-img" width="200" height="25"/></div>
                    <div class="main-footer-copyright">© Marmax 2012- 2023</div>
                </div>
                <div class="main-footer-column main-footer-contacts"><p>+7 (4912) 500-005</p>
                    <p>ул. Право-Лыбедская, 27А, 101</p>
                    <p>info@marmax.ru</p></div>
                <div class="main-footer-column main-footer-socials">
                    <ul class="socials">
                        <li class="social social-telegram"><a href="https://t.me/marmax_ru" target="_blank"
                                                              class="link link-social"><img src="assets/img/tg_ico.svg"
                                                                                            alt=""/></a></li>
                        <li class="social social-youtube"><a
                                href="https://www.youtube.com/channel/UCE2g8NfTmxmBKRl3-aB5GwQ" target="_blank"
                                class="link link-social"><img src="assets/img/yt_ico.svg" alt=""/></a></li>
                        <li class="social social-vk"><a href="https://vk.com/club74295490" target="_blank"
                                                        class="link link-social"><img src="assets/img/vk_ico.svg"
                                                                                      alt=""/></a></li>
                        <li class="social social-dzen"><a href="https://zen.yandex.ru/id/5f6c44065f40d13f9ed690ce"
                                                          target="_blank" class="link link-social"><img
                                src="assets/img/dzen_ico.svg" alt=""/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>