<section class="gallery wrapper-full-width">
    <div class="swiper " id="swiperGallery">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="gallery__img">
                    <img src="./assets/img/sections/comfort/comfort_bg.webp" alt="">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="gallery__img">
                    <img src="./assets/img/sections/comfort/comfort_bg.webp" alt="">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="gallery__img">
                    <img src="./assets/img/sections/comfort/comfort_bg.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>