<section class="gallery wrapper-full-width">
    <div class="swiper " id="swiperGallery">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="gallery__img">1</div>
            </div>
            <div class="swiper-slide">
                <div class="gallery__img">2</div>
            </div>
            <div class="swiper-slide">
                <div class="gallery__img">3</div>
            </div>
            <div class="swiper-slide">
                <div class="gallery__img">4</div>
            </div>
            <div class="swiper-slide">
                <div class="gallery__img">5</div>
            </div>

        </div>
    </div>
</section>