<header class="main-header main-header--sticky" data-sticky-only="true">
    <div class="container">
        <div class="main-header-logo-wrapper">
            <div class="main-logo"><a href="/" class="link main-header-logo"><img src="assets/img/logos/polyana_logo.svg"
                                                                                  alt="Поляна лого" width="250"
                                                                                  height="56"/></a></div>
        </div>
        <div class="main-header-phone-wrapper">
            <div class="btn btn-xs btn-light bnt-main-header-phone">
                <a href="tel:+74912500005" class="link main-header-phone">500-005</a>
            </div>
        </div>
        <button class="btn btn--burger">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80">
                <path class="line top"
                      d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"/>
                <path class="line middle" d="m 30,50 h 40"/>
                <path class="line bottom"
                      d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"/>
            </svg>
        </button>
        <nav class="main-header-nav">
            <div class="container container-main-header">
                <div class="main-header-nav-wrapper">
                    <ul class="site-navigation">
                        <li class="site-navigation-item"><a href="#location" class="link link-item">Расположение</a>
                        </li>
                        <li class="site-navigation-item"><a href="#conception" class="link link-item">Таунхаусы</a></li>
                        <li class="site-navigation-item"><a href="#projects" class="link link-item">Проекты</a></li>
                        <li class="site-navigation-item"><a href="#improvement"
                                                            class="link link-item">Благоустройство</a></li>
                        <li class="site-navigation-item"><a href="#advantages" class="link link-item">Преимущества</a>
                        </li>
                        <li class="site-navigation-item"><a href="#details" class="link link-item">Контакты</a></li>
                    </ul>
                    <div class="main-header-phone-wrapper">
                        <div class="btn btn--xs btn--primary bnt-main-header-phone"><a href="tel:+74912500005"
                                                                            class="link main-header-phone">500-005</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="main-header-footer"><a class="btn btn-secondary" data-micromodal-trigger="popup-form">Оставить
            заявку</a>
            <ul class="socials">
                <li class="social social-telegram"><a href="https://t.me/marmax_ru" target="_blank"
                                                      class="link link-social"><img src="assets/img/socials/tg_ico.svg" alt=""/></a>
                </li>
                <li class="social social-youtube"><a href="https://www.youtube.com/channel/UCE2g8NfTmxmBKRl3-aB5GwQ"
                                                     target="_blank" class="link link-social"><img
                        src="assets/img/socials/yt_ico.svg" alt=""/></a></li>
                <li class="social social-vk"><a href="https://vk.com/club74295490" target="_blank"
                                                class="link link-social"><img src="assets/img/socials/vk_ico.svg" alt=""/></a>
                </li>
                <li class="social social-dzen"><a href="https://zen.yandex.ru/id/5f6c44065f40d13f9ed690ce"
                                                  target="_blank" class="link link-social"><img
                        src="assets/img/socials/dzen_ico.svg" alt=""/></a></li>
            </ul>
        </div>
    </div>
</header>