<section class="wrapper-inner-sm house-specs">
    <h2 class="h2 text-center">Технические характеристики</h2>
    <div class="house-specs__container">
        <div class="house-specs__column">
            <div class="house-specs__block specs-block">
                <h3 class="specs-block__heading">Фундамент</h3>
                <p class="specs-block__text">монолитная железобетонная плита</p>
            </div>
            <div class="house-specs__block specs-block">
                <h3 class="specs-block__heading">Силовой каркас</h3>
                <p class="specs-block__text">на клееном брусе по технологии «Фахверк», древесина — ель или сосна. </p>
            </div>
            <div class="house-specs__block specs-block">
                <h3 class="specs-block__heading">Входная дверь</h3>
                <p class="specs-block__text">металлическая с терморазрывом</p>
            </div>
            <div class="house-specs__block specs-block">
                <h3 class="specs-block__heading">Несущие стены</h3>
                <p class="specs-block__text">клееный брус</p>
            </div>
            <div class="house-specs__block specs-block">
                <h3 class="specs-block__heading">Наружные панели</h3>
                <ul class="specs-block__list">
                    <li class="specs-block__item specs-block__text">шумоизоляция Beltermo Top. Натуральные волокна из древесины хвойных пород. Влагостойкие плиты, которые не дают усадки</li>
                    <li class="specs-block__item specs-block__text">пароизоляция с алюминиевым слоем с проклейкой швов</li>
                    <li class="specs-block__item specs-block__text">каркас из сухой строганой доски</li>
                    <li class="specs-block__item specs-block__text">утеплитель 150/200мм с перехлестом слоев</li>
                </ul>
            </div>
            <div class="house-specs__block specs-block">
                <h3 class="specs-block__heading">Остекление</h3>
                <ul class="specs-block__list">
                    <li class="specs-block__item specs-block__text">панорамное остекление</li>
                    <li class="specs-block__item specs-block__text">двухкамерные энергоэффективные стеклопакеты</li>
                    <li class="specs-block__item specs-block__text">мультифункциональный энергосберегающий стеклопакет</li>
                </ul>
            </div>
            <div class="house-specs__block specs-block">
                <h3 class="specs-block__heading">Кровля</h3>
                <ul class="specs-block__list">
                    <li class="specs-block__item specs-block__text">гидроветроизоляция с супер диффузионной мембраной</li>
                    <li class="specs-block__item specs-block__text">скрытая и открытая выносная водосточная система</li>
                </ul>
            </div>
        </div>
        <div class="house-specs__column house-specs__column--border">
            <div class="house-specs__block specs-block">
                <h3 class="specs-block__heading">Централизованные внешние сети</h3>
                <p class="specs-block__text">(без технологического присоединения и лицевого счета)</p>
                <ul class="specs-block__list specs-block__list--without-padding specs-block__list--gutter-xl">
                    <li class="specs-block__item specs-block__text">Газификация</li>
                    <li class="specs-block__item specs-block__text">Электрификация</li>
                    <li class="specs-block__item specs-block__text">Слаботочные сети (оптоволокно)</li>
                    <li class="specs-block__item specs-block__text">Водоснабжение</li>
                    <li class="specs-block__item specs-block__text">Канализация</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center">
    <button class="btn btn--primary ">Забронировать</button>

    </div>
</section>