<section class="wrapper-inner-xl">
    <div class="common-heading wrapper-inner-sm">
        <button class="btn btn--primary-back common-heading__right"><span>Выбрать дом</span></button>
        <h2 class="h2 common-heading__middle">Дом модерн</h2>
    </div>
    <div class="house-info wrapper-inner-sm">
        <h3 class="house-info__title text-center h5">Участок №6</h3>
        <div class="house-info__container">
            <div class="house-info__column house-info__column--with-padding ">
                <img src="./assets/img/components/houses/house-classic.webp" width="380" height="380" alt="">
            </div>
            <div class="house-info__props house-info__column ">
                <div class="house-info__props-list">
                    <div class="house-info__prop house-info__prop--name">Площадь
                        дома&nbsp;(м2)
                    </div>
                    <div class="house-info__prop house-info__prop--value">257,6</div>
                    <div class="house-info__prop house-info__prop--name">Площадь
                        участка&nbsp;(сот.)
                    </div>
                    <div class="house-info__prop house-info__prop--value">13,0</div>
                    <div class="house-info__prop house-info__prop--name">Этажей</div>
                    <div class="house-info__prop house-info__prop--value">2</div>
                    <div class="house-info__prop house-info__prop--name house-info__prop--align-up">Цвет</div>
                    <div class="house-info__prop house-info__prop--value">
                        <div class="house-info__selection">
                            <label class="check option">
                                <input class="check__input" type="radio" name="houseColor" value="light">
                                <span class="check__box"></span>
                                <span class="p2">Светлый</span>
                            </label>
                            <label class="check option">
                                <input class="check__input" type="radio" name="houseColor" value="dark">
                                <span class="check__box"></span>
                                <span class="p2">Тёмный</span>
                            </label>
                        </div>
                    </div>
                    <div class="house-info__prop house-info__prop--name">Цена</div>
                    <div class="house-info__prop house-info__prop--value">30 392 500 ₽</div>
                </div>
                <div class="house-info__tags">
                    <button class="btn-pin btn-pin--lg">
                        <i class="icon-selection icon-selection--light"></i>
                        <span>Второй <br> свет</span>
                    </button>
                    <button class="btn-pin btn-pin--lg">
                        <i class="icon-selection icon-selection--bedroom"></i>
                        <span>Мастер <br> спальня</span>
                    </button>
                    <button class="btn-pin btn-pin--lg">
                        <i class="icon-selection icon-selection--terrace"></i>
                        <span>Террасса</span>
                    </button>
<!--                    <button class="btn-pin btn-pin&#45;&#45;lg">-->
<!--                        <i class="icon-selection icon-selection&#45;&#45;fireplace"></i>-->
<!--                        <span>Террасса <br> c камином</span>-->
<!--                    </button>-->
<!--                    <button class="btn-pin btn-pin&#45;&#45;lg">-->
<!--                        <i class="icon-selection icon-selection&#45;&#45;parking"></i>-->
<!--                        <span>Машино-<br>место<br> с навесом</span>-->
<!--                    </button>-->
<!--                    <button class="btn-pin btn-pin&#45;&#45;lg">-->
<!--                        <i class="icon-selection icon-selection&#45;&#45;garage"></i>-->
<!--                        <span>Гараж</span>-->
<!--                    </button>-->
                </div>
                <div class="house-info__btn-group">
                    <button class="btn btn--primary">Забронировать</button>
                    <button class="btn btn--primary" disabled>Скачать презентацию</button>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="wrapper-inner-xl house-plan">
    <h2 class="h2 text-center house-plan__heading">Планировка</h2>
    <div class="house-plan__container">
        <img class="house-plan__img" src="https://macroserver.ru/estate/files/get/5092182/4536761/oUV4DW4gRK8OLnwxNzA3MTc3NjAwfDU4MTg1/planirovka_k4-257_6-1-257.6.jpg"
             width="600" height="600" alt="">
        <img class="house-plan__img" src="https://macroserver.ru/estate/files/get/5092182/4536761/oUV4DW4gRK8OLnwxNzA3MTc3NjAwfDU4MTg1/planirovka_k4-257_6-1-257.6.jpg"
             width="600" height="600" alt="">
    </div>
</section>

