.choosing-house {

	@include rfs(44px, padding-top);
	@include rfs(88px, margin-bottom);

	&__heading {
		position: relative;

		@include rfs(40px, margin-bottom);

	}
	&__btn-back {
		position: absolute;
		top: 0;
		left: 0;
	}
}