.location {

    @include rfs(100px, margin-bottom);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__title {
        //padding-bottom: 32px;
        margin: 0
    }


    &__subtitle {
        max-width: 520px
    }

    &__info {
        display: flex;
        //flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        gap: 10px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 450px;
        font-size: 14px;

        @include rfs(30px, gap);

        p {
            line-height: 140%;
        }
    }

    &__link {
        align-items: center;
        color: #2D2D39;
        cursor: pointer;

        @include margin-bottom(23px)

    }
}

.polyana-marker {
    position: relative;
    box-sizing: border-box;
    transform: translate(-18px, -100%);
    cursor: pointer;
    width: 100px;
    max-width: none;
}

@media (width <= 992px) {
    .location {
        &__info {
            flex-direction: column-reverse;
            gap: 16px;
        }

        .btn {
            align-self: center;
        }
    }
}
@media (width <= 767px) {
    .container-location {
        .centering-wrap {
            text-align: center;
        }
    }

    .location-map img {
        width: 500px;
        height: auto
    }
}
@media (width <= 575px) {
    .location-map img {
        width: 310px
    }

    .location-text {
        padding: 0
    }
}